{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    </head>
    <body>
        <div class="header">
            <h1>Inzercia</h1>
        </div>
        <div class="content">
        {% for object in object_list %}
            <div class="post">
                <a class="image" href={{object.link_url}}>
                    <img src={{object.image_url}} alt="post_image" />
                </a>
                <div class="details">
                    <a href={{object.link_url}}>
                        <h3>{{object.title|safe}}</h3>
                    </a>
                    <div>{{object.description|safe}}</div>
                    <div>Zmenene: {{ object.date_updated|date:"d.m.Y" }}</div>
                    <div>Veľkosť: {{ object.size }} m<sup>2</sup></div>
                    <div>Portal: {{ object.source }}</div>
                    <div class="price">Cena: {{ object.price|floatformat:"0" }} €</div>
                </div>
            </div>
        {% endfor %}
            <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
        </div>
    </body>
</html>
